* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.user_content {
  border-bottom: 0.1rem solid #dfe3e8;
  padding-bottom: 20px;
}

.user_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user_logo {
  border-radius: 5px;
  background: currentColor;
}

.user_titleandrollup {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.allpolaris_button {
  padding: 10px 0px;
  border-bottom: 0.1rem solid #dfe3e8;
}

.allpolaris_button .page_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.allpolaris_button .page_button div {
  padding-right: 25px;
}

.top_vendor {
  background: white;
  padding: 15px;
}

.top_vendor a {
    text-decoration: none;
    float: none;
    display: block;
}

.top_vendor span{
    margin-top:5px;
    display:block;
}   

.top_vendor .view_vendor {
  color: #007ace;
}

.vendor_title {
  font-size: 2rem;
  display: inline-block;
}

.design-list {
    padding: 15px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.for-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product-item {
  width: 92px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
    text-align: center;
    margin-right: 0;
    box-shadow: 0 10px 40px 5px #ececec;
    width: 17%;
    padding: 15px 0;
}

.product-item .vendor_image {
  margin: auto;
}

.sales_item, .total_item {
  background: white;
  padding: 35px 0px;
  text-align: center;
}

.sales_item .sales_image, .total_item .sales_image {
  margin: auto;
}

.sales_item .sales_title, .total_item .sales_title {
  padding: 10px 0px;
}

.total_item:last-child {
  border: none;
}

.breadcrumb_header {
  border-bottom: 0.1rem solid #D8E1E5;
  padding-bottom: 10px;
}

.tost_msg {
  text-align: center;
  margin-top: 135px;
}

.datatable {
  margin: 26px 0px 21px 0px;
  background: white;
  padding: 14px 18px 16px 18px;
}

.Polaris-DataTable__TableRow ul {
  list-style: none;
}

.Polaris-DataTable__TableRow ul li {
  display: inline-block;
  padding-right: 10px;
}

.Polaris-DataTable__TableRow ul li .fab {
  font-size: 20px;
  color: #212b36;
}

.Polaris-DataTable__TableRow td {
  border-bottom: 0.1rem solid #DFE3E8 !important;
}

.arrow, .influencer_arrow {
  text-align: center;
}

.influencer_arrow {
  padding-top: 30px;
}

.percentage {
  width: 3.2rem;
}

.confirm_btn {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: flex-end;
}

.user_table {
  border-bottom: 0.1rem solid #D8E1E5;
}

.overflow-x-auto {
  overflow-x: auto;
  padding: 0 15px;
}

.overflow-x-auto tr th {
  vertical-align: bottom;
}

.overflow-x-auto tr td {
  vertical-align: middle;
}

.overflow-x-auto tr td:first-child {
  text-align: center;
}

.order_arrow {
  text-align: center;
  padding: 75px 10px 25px 10px;
}

.report_list {
  padding: 0 15px;
  overflow: auto;
}

.report_list tr td {
  vertical-align: middle;
}

.report_arrow {
  text-align: center;
  padding: 44px 10px 25px 10px;
}

.date_btn {
  min-height: 2.5rem;
  padding: 0.6rem 1.2rem;
  min-width: 2.5rem;
  margin-top: 20px;
}

.user_img {
  padding-right: 20px;
}

.product_report {
  padding: 0px 20px 30px 20px;
}

.product_tablelist {
  overflow: auto;
}

.product_tablelist tr th,
.product_tablelist tr td {
  text-align: left !important;
  vertical-align: middle;
}

.product_tablelist tr:last-child td {
  background: none;
  border-bottom: none;
}

.Product_arrow {
  text-align: center;
  padding-top: 63px;
}

.payout_table {
  padding: 0px 20px;
}
/*# sourceMappingURL=my.css.map */
#tableInfluencersPayout .Polaris-DataTable__Cell{
    vertical-align: middle;
}
.mb-2{
    margin-bottom: 20px;
}
.mt-2{
     margin-top: 25px;
}
#TextField1-error{
    z-index: 1020;
    color: red;
    padding: 0 10px;
}
.list-heading{
    display: flex;
    align-items: flex-end;
    padding: 15px 0;
    justify-content: space-between;
}
.list-heading .list-input{
    width: 30%;
    margin-right: 15px;
}
.daterangepicker .calendar-table td{
    margin: 0;
    padding: .5rem;
    background: transparent;
    border: .1rem solid #dfe3e8;
    border-radius: 0;
    outline: none;
    font-size: 1.2rem;
    text-align: center;
    cursor: pointer;
    width: 15.28571%;
}
.daterangepicker .calendar-table th{
    border-bottom: 0;
}
.daterangepicker. td.active, .daterangepicker td.active:hover{
    background: #5c6ac4;
    border: .1rem solid #5c6ac4;
    color: #fff;
    border-radius: 0 !important;
}
.daterangepicker .calendar-table td.active,
.daterangepicker .calendar-table td.active:hover{
    background: #5c6ac4;
    border: .1rem solid #5c6ac4;
    color: #fff;
    border-radius: 0 !important; 
}

.datepicker.datepicker-dropdown table tr td span{
    height: 42px;
    line-height: 42px;
}

.datepicker.datepicker-dropdown table tr td span.active, 
.datepicker.datepicker-dropdown table tr td span.active:hover, 
.datepicker.datepicker-dropdown table tr td span.active.disabled, 
.datepicker.datepicker-dropdown table tr td span.active.disabled:hover{
   background: linear-gradient(to bottom, #6371c7, #5563c1);
}

.datepicker.datepicker-dropdown table tr td span.active.old, 
.datepicker.datepicker-dropdown table tr td span.active.new {
    color: #fff;
}

.add_Button .Polaris-Icon{
    display: inline-block;
    vertical-align: bottom;
    margin-right: 6px;
    height: 1.7rem;
    width: 1.7rem;
}