.Polaris-Filters-ConnectedFilterControl__RightContainer .Polaris-Filters-ConnectedFilterControl__Item>*>*.left-button{
    margin-right: -1px;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-top-left-radius: 3px !important;
    border-bottom-left-radius: 3px !important;
    margin-left: 0 !important;
}
.serial-list-section{
    margin-left: -2rem;
    margin-right: -2rem;
}
.serial-list-header{
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top:2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.select-label{
    display: flex;
    align-items: center;
}
.select-label .Polaris-Labelled__LabelWrapper{
    margin-right: 1rem;
}
.serial-list{
    list-style: none;
    margin: 0;
    padding-left:2rem;
    padding-right: 2rem; 
}
.serial-list li{
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.Polaris-Tabs__Title{
    border-bottom-width: 0px !important;
}
.active{
    border-bottom-width: 3px !important;
}
.serial-list-text{
    padding-left: 0.5rem;
    flex-basis: 86%;
}
.serial-list-text li:not(:last-child){
    border-bottom: .1rem solid #dfe3e8;
}
.serial-list-text h3{
    margin-bottom: 0.5rem;
}
.serial-list-text p{
    font-size: 0.9em;
    margin-bottom: 0.5rem;
}
.date-serial{
    margin-top: 0.5rem;
}
.add-main-row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -1rem;
    margin-right: -1rem;
}
.add-main-row > div{
    padding-left: 1rem;
    padding-right: 1rem;
}
.add-item-main{
    width: 66.666%;
}
.label-extra-text .Polaris-Label{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mt-1{
    margin-top: 0.5rem !important;
}
.pt-1{
    padding-top: 0.5rem;
}
.active-dates-row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -1rem;
    margin-right: -1rem;
    margin-bottom: 1rem;
}
.active-dates-row > div{
    padding-left: 1rem;
    padding-right: 1rem;
}
.w-50{
    width: 50%;
}
.add-item-sub{
    width: 33.333%;
}
.summary-card{
    background-color: #f9fafb;
}

/*data table  */

.dataTables_filter{
  width: 100%;
}
.dataTables_filter label{
  display: block;
  position: relative;
  margin: 0;
}
.dataTables_filter label:before{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 12px;
  background: url(/images/search.png) center no-repeat;
  width: 16px;
  height: 16px;
  background-size: 12px;
}
.dataTables_filter label input[type="search"]{
  display: block;
    width: 100%;
    padding: 6px 12px 6px 33px;
    font-size: 14px;
    color: #32383d;
    border: 1px solid #c4cdd5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    margin: 0;
    font-weight: normal;
}
.dataTables_filter label input[type="search"]::-webkit-input-placeholder{
  color: #919eab;
}
.dataTables_filter label input[type="search"]:focus{
  border: 1px solid #5c6ac4;
  -webkit-box-shadow: 0 0 0 1px #5c6ac4;
  box-shadow: 0 0 0 1px #5c6ac4;
  outline: 0;
}
.dataTable{
  padding-top: 2rem !important;
  border-bottom: 0 none !important;
}
.dataTables_wrapper .dataTables_paginate{
  text-align: center;
  float: none;
  height: 33px;
  margin-top: 20px;
}
.paginate_button .next-icon{
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  display: block;
}
.paginate_button .previous-icon{
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  display: block;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.next{
  border: 1px solid #c4cdd5;
  margin: 0;
  border-left: 0 none;
  border-radius: 0 3px 3px 0;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.previous{
  border: 1px solid #c4cdd5;
  border-radius: 3px 0 0 3px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
  background: -webkit-gradient(linear, left top, left bottom, from(#f9fafb), to(#f4f6f8));
  background: linear-gradient(to bottom, #f9fafb, #f4f6f8);
  border-color: #c4cdd5;
  -webkit-box-shadow: 0 1px 0 0 rgba(22,29,37,0.05);
  box-shadow: 0 1px 0 0 rgba(22,29,37,0.05);
  color: #212b35;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active{
  border: 1px solid #c4cdd5;
  fill: #919eab;
  background: #f4f6f8;
  color: #919eab;
  cursor: default;
  box-shadow: none;
}
.dataTables_wrapper .dataTables_paginate .next.disabled{
  border-left: 0 none !important;
}
table.dataTable > thead > tr > th{
  border-bottom: 0;
  padding: 8px 10px;
}
table.dataTable > tbody > tr > td{
  border-top: 1px solid #ebeff1; 
  /*padding: 8px 10px;*/
  vertical-align: middle;
  /*width: 100%;*/
}
table.dataTable > tbody > tr > td.master-product-title{
  color: #007ace;
}
.dataTables_empty .empty-search-results__title{
  font-size: 2rem;
  color: #212b35 !important;
  margin-top: 30px;
}
.empty-search-results .empty-search-results__message {
    color: #637381;
    margin: 0 0 0.8rem;
}
.dataTables_empty .empty-search-results{
  padding: 36px 10px;
}
.dataTables_empty .empty-search-results:hover{
  background: #fff !important;
}
.master-datatable > tbody > tr > td.dataTables_empty{
  padding: 0px;
}
.master-datatable > tbody > tr > td.dataTables_empty .no-records{
  padding: 8px 10px;
  display: block;
}
.master-datatable .master-product-image{
  /*display: block;*/
  width: 50px;
  height: 50px;
  border: 1px solid #ebeef0;
  text-align: center;
}
.table > thead > tr > th{
  /*background: none !important;*/
}

.master-datatable{
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
  text-transform: initial;
  letter-spacing: initial;
  font-family: -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
  color: #212b35;
  margin-bottom: 0px;
}

.master-datatable > thead > tr > th{
  font-weight: 500;
  border-bottom: 1px solid #ddd;
}
.master-datatable > tbody > tr > td{
  vertical-align: middle;
}

.master-datatable > tbody > tr:hover{
  background-color: #f9fafb;
}

.master-datatable > thead > tr > th:first-child{
  width: 26px !important;
  position: relative;
} 
.master-datatable ul{
  top: 0;
  z-index: 19;
  position: absolute;
  left: 5px;
  right: 0;
  background: #ffffff;
  white-space: nowrap;
  margin: 0;
}
.product-card .dataTables_wrapper .dataTables_filter label input[type="search"]{
    padding-left: 110px;
}
/* Datatable Css End */


.Polaris-Link .tooltiptext{
  bottom: 100%;
  left: 0;
  margin-left: 0;
}
.extra .Polaris-Card__Section {
  height: 486px;
  overflow-y: scroll;
  padding: 3rem 2rem 2rem;
}
.Polaris-Link .tooltiptext::after{
  left: 10%;
}
table.dataTable thead > tr > th{
  text-align: left;
}
table.dataTable thead > tr > th.for-right{
  text-align: right;
  padding-right: 10px;
}
div.dataTables_paginate ul.pagination {
    margin: 2px 0;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 0;
    border: 0;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.next, .dataTables_wrapper .dataTables_paginate .paginate_button.previous{
      border: 0;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active{
    border:0;
}

/* pagination full width*/
.dataTables_paginate{
    width: 100%;
    text-align: center !important;
    padding: 6rem 2rem;
}
.dataTables_paginate .paginate_button{
  padding: 0 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
  border: 0 !important;
}
#table-custom_filter
{
  padding: 10px !important;
}

.datatable-anchor-link{
  color:#007ace;
}
.serial-list-multiselect{
  position: relative;
}
.multiselect-row{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;
  justify-content: flex-start;
  margin-right: .8rem;
  background-color: #fff;
  padding: 0rem 0rem;
}
.multiselect-item{
  width: auto;
  justify-content: flex-start;
  margin-right: .8rem;
  display: flex;
  align-items: stretch;
}
.multiselect-checkbox{
  text-transform: none;
  letter-spacing: normal;
  display: inline-flex;
  align-items: center;
  min-height: 3.6rem;
  min-width: 3.6rem;
  margin: 0;
  padding: .7rem 1.6rem;
  line-height: 1;
  cursor: pointer;
  text-decoration: none;
  text-align: left;
  background: #fff;
  border: .1rem solid #c4cdd5;
  border-radius: 3px 0 0 3px;
  border:.1rem solid  #c4cdd5;
  margin-left: 20px;
}
.multiselect-checkbox .Polaris-Choice{
  padding: 0;
}
.custom-dropdwon{
  max-height: 3.6rem;
  margin-left: -1px;
  position: relative;
}
.custom-dropdwon-ul{
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  width: 18rem;
  max-height: 29.5rem;
  box-shadow: 0 0 0 1px rgba(6,44,82,.1), 0 2px 16px rgba(33,43,54,.08);
  background-color: #fff;
}
.custom-dropdwon-ul ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.custom-dropdwon-ul ul li a{
  padding: 10px 16px;
  display: inline-block;
  color: #212b36;
  width: 100%;
  text-decoration: none;
}
.order_arrow{
  text-align: center;
  margin-top: 15px;
}

/*****Popup Css *****/
.list-groups-div ul{
    margin: 0;
    padding: 0;
    list-style: none
}
.list-groups-div ul li{
    display: flex;
    align-items: center;
    padding: 1.6rem 2rem;
}
.list-groups-div ul li:not(:last-child){
    border-bottom: .1rem solid #dfe3e8;
}
.list-groups-div ul li label{
    padding: 0;
}

.group-option-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.6rem 0;
}
.group-option-list:not(:last-child){
    border-bottom: .1rem solid #dfe3e8;
}
.group-option-list .option-name{
    flex: 1 1 auto;
}
.group-option-list .Polaris-Icon{
    margin-right: 0;
    padding: 0.4rem;
}
.group-option-list .Polaris-Icon svg{
    fill:#637381;
}
.customer-remove{
  display: flex;
  align-items: center;
  justify-content: space-between;
}